.App{
    /* background-image: url(./Asset/side-wave_background.svg); */
    /* background-image: url(./Asset/weather-bg.svg); */
    
    background-image: url(./Asset/weather-app-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /* background-color: #333c44; */
}